*{
    text-decoration: none;
}

.wrapper {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: rgba(255, 255, 255, 0.718);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.div-flower{
    height: 586px;
    background-image: url(img/flower.png) ;
}
.body{
    margin-left: 320px;
}
.img1{
    margin-left: 164px;
}
.div-in-header{
    display: flex;
    justify-content: flex-end;
    gap: 36px;
    margin-right: 300px;
   
}
.a1:hover{
    background-color: rgba(238, 48, 48, 0.5);
    border-radius: 6px;
    transition-duration: 0.2s;}
.a2:hover{
    background-color: rgba(243, 79, 235, 0.452);
    border-radius: 10px;
    transition-duration: 0.4s;
}
.a2{
    background-color: rgb(222, 109, 110);
    color: white;
    width: 52px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    transition: all 0.5s ease;
}
.div-welcome{
    margin-top: -225px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    color: white;
   
    

    
}
.p1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    font-family: 'Public Sans', sans-serif;
}
.a1{
    font-family: 'Dosis', sans-serif;
    color: rgb(104, 104, 104);
    font-weight: bold;
   
}
.p2{
    font-weight: 100;
    font-size: 20px;
    margin-top: -35px;

}
.bigdiv{
    margin-top: 150px;
}
.div-in-bigdiv{
text-align: center;
}
.p3{
font-size: 36px;
color: rgb(71, 71, 71);
font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
.p4{
    margin-top: -25px;
    color: rgb(71, 71, 71);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
.img2{

}
.socpage img {
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    transition: all 0.5s ease;
    width: 170px;
    border-radius: 100px;
    
}
.blue img:hover {
    background-color: rgb(0, 234, 255);
    transition-duration: 0.4s;
    




}
.green img:hover {
    background-color: rgb(13, 255, 0);
    transition-duration: 0.4s;
    




}
.red img:hover {
    background-color: rgb(255, 0, 0);
    transition-duration: 0.4s;
    




}
.orange img:hover {
    background-color: rgb(255, 208, 0);
    transition-duration: 0.4s;
    




}
.div-in-bigdiv1{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.hr{
    color: darkgray;
    background-color: darkgray;
    height: 1px;
}
.div-in-bigdiv2{
    margin-top: 42px;
    margin-left: 90px;
    
    
    gap: 10px;
}

.p5{
    font-size: 24px;
    color: gray;
}
.p6{
    font-size: 15px;
    color: gray;
}
.div56{
    display: inline-block;
    margin-left: 10px;
    color: darkgray;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    


}
.div-in-bigdiv3{
    margin-top: 42px;
    margin-left: 90px;
    margin-left: -1px;
    
    
    gap: 10px;
}
.div-in-bigdiv4{
    margin-top: 42px;
    margin-left: 90px;
    gap: 10px;
    margin-left: -1px;
    
}
footer{
    background-color: rgb(39, 41, 36);
    
}
.p7{
    color: aliceblue;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Public Sans', sans-serif;
    
}
.p8{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: aliceblue;
}

.div-footer1{
   display: inline-block;
   margin-left: 170px;
}
.div-footer{
    display: inline-block;
   margin-left: 70px;
}
.div-in-footer2{
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    margin-top: -150;
    gap: 25px;
}
footer{
    height: 240px;
}
.p9{
    color: aliceblue;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Public Sans', sans-serif;
    margin-left: 800px;
    font-size: 13px;
    margin-top: 30px;
}
.ret img {
    max-width: 200px;
    max-height: 200px;
    padding: 1px;
    transition: all 0.5s ease;
    width: 55px;
    border-radius: 100px;
    
}
.white img:hover {
    width: 60px;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    




}







